body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
}

#app {
  margin: auto;
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  width: 30vh;
  margin: 20px;
  text-align: center;
  padding: 10px;

  color: white;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}
