<form action="" class="form" #logIn="ngForm" (ngSubmit)="signIn(logIn.value)">

  <input placeholder="email" name="email" ngModel email #email="ngModel">
  <br><small *ngIf="email.invalid">Please give a valid email</small><br>

  <input type="password" name="paswd" placeholder="password" ngModel #password="ngModel" minlength="7" >
  <br><small *ngIf="password.invalid">Please give a valid password</small><br>

  <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Remember me</label>'
      <button type="submit" class="btn" [disabled]="email.value<1||password.value<1||logIn.invalid" style=" color:white;background-color:#17a2b8; width:50% ; margin:0 auto" onclick="alert('Logged-in')"> Login</button>
  </form>